plugins:
        - jekyll-relative-links
theme: jekyll-theme-hacker
relative_links:
        enabled: true
        collections: true
include:
        - README.md
        - about.md
        - random.md
github:
  is_project_page: false

ignore_theme_config: true
